<ul>
    <li>
      <a routerLink="/">INDEX</a>
      <span>Page shown when the user is not logged in</span>
    </li>
    <li>
      <a routerLink="/login">LOGIN</a>
      <span>Login page</span>
    </li>
    <li>
      <a routerLink="/home">HOME</a>
      <span>Page shown to a logged in user</span>
    </li>
    <li>
      <a routerLink="/products">PRODUCTS</a>
      <span>Page showing a list of products</span>
    </li>
    <li>
      <a routerLink="/order">ORDER</a>
      <span>Page shown the order and summary before the actual shop</span>
    </li>
    <li>
      <a routerLink="/summary">SUMMARY</a>
      <span>Statistics and stuff</span>
    </li>
</ul>
<router-outlet></router-outlet>
